@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');


body{
    font-family:  'Roboto', sans-serif;
}

h1{

    margin-top: 50px;
    margin-bottom: 20px;
}

.thumbnail{
    text-decoration: none;

    opacity: 0.7;

}
a:hover{
    opacity: 1;
    text-decoration: none;
}


 .thumbnail:hover span{
    color: navy;
    font-weight: 600;
}

.description{
    padding-top: 10px;
}
.description ul{
    width: 320px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #ddd;

}

.active{
    background-color: #f4b60d;
}
.description ul li{
    /*list-style: none;*/
}
.description h2{
    margin: 0 auto;
    width: 320px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
}
