html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  outline: 0;
}

@font-face {
  font-family: "JazzBall";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jazzball/Jazz_Ball_Regular.ttf") format("truetype");
}

@font-face {
  font-family: "JazzBall";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/jazzball/Jazz_Ball_Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Neo Sans Pro';
  src: url("../fonts/NeoSansPro/NeoSansPro-Bold.eot");
  src: local("Neo Sans Pro Bold"), local("NeoSansPro-Bold"), url("../fonts/NeoSansPro/NeoSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NeoSansPro/NeoSansPro-Bold.woff") format("woff"), url("../fonts/NeoSansPro/NeoSansPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Neo Sans Pro';
  src: url("../fonts/NeoSansPro/NeoSansPro-Medium.eot");
  src: local("Neo Sans Pro Medium"), local("NeoSansPro-Medium"), url("../fonts/NeoSansPro/NeoSansPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/NeoSansPro/NeoSansPro-Medium.woff") format("woff"), url("../fonts/NeoSansPro/NeoSansPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neo Sans Pro';
  src: url("../fonts/NeoSansPro/NeoSansPro-Regular.eot");
  src: local("Neo Sans Pro"), local("NeoSansPro-Regular"), url("../fonts/NeoSansPro/NeoSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NeoSansPro/NeoSansPro-Regular.woff") format("woff"), url("../fonts/NeoSansPro/NeoSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neo Sans Pro Ultra';
  src: url("../fonts/NeoSansPro/NeoSansPro-Ultra.eot");
  src: local("Neo Sans Pro Ultra"), local("NeoSansPro-Ultra"), url("../fonts/NeoSansPro/NeoSansPro-Ultra.eot?#iefix") format("embedded-opentype"), url("../fonts/NeoSansPro/NeoSansPro-Ultra.woff") format("woff"), url("../fonts/NeoSansPro/NeoSansPro-Ultra.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Neo Sans Pro';
  src: url("../fonts/NeoSansPro/NeoSansPro-Light.eot");
  src: local("Neo Sans Pro Light"), local("NeoSansPro-Light"), url("../fonts/NeoSansPro/NeoSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/NeoSansPro/NeoSansPro-Light.woff") format("woff"), url("../fonts/NeoSansPro/NeoSansPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Neo Sans Pro", "Arial", sans-serif;
}

.icon {
  display: inline-block;
}

.icon-arrow-down {
  background-image: url(../img/sprite.png);
  background-position: -88px 0px;
  width: 8px;
  height: 12px;
}

.icon-arrow-up {
  background-image: url(../img/sprite.png);
  background-position: -88px -37px;
  width: 8px;
  height: 12px;
}

.icon-cart {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 20px;
  height: 17px;
}

.icon-check {
  background-image: url(../img/sprite.png);
  background-position: 0px -42px;
  width: 18px;
  height: 18px;
}

.icon-empty {
  background-image: url(../img/sprite.png);
  background-position: -45px 0px;
  width: 18px;
  height: 18px;
}

.icon-home {
  background-image: url(../img/sprite.png);
  background-position: -45px -43px;
  width: 16px;
  height: 17px;
}

/*----- HEADER -----*/

.wrapper {
  margin: 0 auto;
  max-width: 960px;
}

.nav {
  margin-bottom: 19px;
  padding-top: 27px;
}

.navList {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.navList__item:not(:last-child)::after {
  color: #939ca2;
  content: '\2014';
  padding: 0 7px;
}

.navList__link {
  color: #939ca2;
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
}

.navList__link:hover,
.navList__link:focus {
  text-decoration: none;
}

.navList__link i {
  margin-right: 2px;
  vertical-align: bottom;
}

.navList__text {
  color: #939ca2;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.5px;
  vertical-align: bottom;
}

/*----- MAIN -----*/

.main__title {
  color: #222;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 22px;
}

.filtres {
  background-color: #eef8ff;
  border: 2px solid #e5f0fb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 14px 9px 11px;
  margin-bottom: 25px;
}

.filtresForm {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.filtresForm__fieldset {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.filtresForm__fieldset_checkbox {
  padding-left: 14px;
}

.filtresForm__fieldset_checkbox label {
  margin-right: 16px;
  padding-left: 22px;
}

.filtresForm__fieldset_color .filtresForm__legend {
  margin-right: 11px;
}

.filtresForm__container {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.filtresForm__container:first-of-type {
  margin-right: 25px;
}

.filtresForm__label,
.filtresForm label {
  color: #4c4c4c;
  font-size: 14px;
  font-weight: 400;
}

.filtresForm__legend {
  color: #4c4c4c;
  display: block;
  font-size: 14px;
  font-weight: 400;
}

.filtresForm__checkboxContainer {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  display: block;
  margin-bottom: 0;
  position: relative;
  user-select: none;
}

.filtresForm__checkboxContainer input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.filtresForm__radioContainer {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  display: block;
  height: 21px;
  margin-right: 3px;
  position: relative;
  user-select: none;
  width: 21px;
}

.filtresForm__radioContainer input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.filtresForm__radioCheckMark {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  height: 17px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 17px;
}

.filtresForm__radioCheckMark::after {
  background: transparent;
  border: 2px solid #ff4343;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: "";
  display: none;
  height: 21px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 21px;
}

.filtresForm__radioCheckMark_red {
  background-color: #e30013;
}

.filtresForm__radioCheckMark_black {
  background-color: #3b3b3b;
}

.filtresForm__radioCheckMark_yellow {
  background-color: #e3c400;
}

.filtresForm__radioCheckMark_green {
  background-color: #76e300;
}

.filtresForm__radioCheckMark_pink {
  background-color: #e300a0;
}

.filtresForm__radioCheckMark_orange {
  background-color: #e37000;
}

.filtresForm__checkboxMark {
  left: 0;
  position: absolute;
  top: -3px;
}

.filtresForm__checkboxMark::after {
  content: "";
  display: none;
  position: absolute;
}

.filtresForm .icon-check,
.filtresForm .icon-arrow-up {
  display: none;
}

.filtresForm__checkboxContainer input:checked ~ .filtresForm__checkboxMark .icon-empty {
  display: none;
}

.filtresForm__checkboxContainer input:checked ~ .filtresForm__checkboxMark .icon-check {
  display: inline-block;
}

.filtresForm__radioContainer input:checked ~ .filtresForm__radioCheckMark:after {
  display: block;
}

.filtresForm__fieldset_price {
  padding-right: 5px;
}

.filtresForm__fieldset_price label {
  width: 10px;
}

.filtresForm__fieldset_price legend span {
  border-bottom: 1px dashed red;
  cursor: pointer;
  margin-left: 10px;
}

.filtresForm__fieldset_price legend span:hover,
.filtresForm__fieldset_price legend span:focus {
  border-bottom: none;
}

.filtresForm__fieldset_price .icon {
  margin-top: 3px;
  vertical-align: middle;
}

.filtresForm__fieldset_price .filtresForm__radioCheckMark {
  text-align: center;
}

.filtresForm__fieldset_price .filtresForm__radioCheckMark::after {
  display: none;
}

.filtresForm__fieldset_price label.priceUp input ~ .filtresForm__radioCheckMark .icon-arrow-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.filtresForm__fieldset_price label.priceUp input:checked ~ .filtresForm__radioCheckMark .icon-arrow-up {
  display: inline-block;
}

.filtresForm__fieldset_price label.priceUp input:checked ~ .filtresForm__radioCheckMark .icon-arrow-down {
  display: none;
}

.filtresForm__fieldset_price label.filtresForm__radioContainer input:checked ~ .filtresForm__radioCheckMark::after {
  display: none;
}

.filtresForm__fieldset_price label.priceDown input:checked ~ .filtresForm__radioCheckMark .icon-arrow-up {
  display: inline-block;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.filtresForm__fieldset_price label.priceDown input:checked ~ .filtresForm__radioCheckMark .icon-arrow-down {
  display: none;
}

/*----- CONTENT -----*/

.content {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0 auto 30px;
}

.contentItem {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  border: 1px solid #d0dbe6;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px 30px 15px;
  width: 192px;
}

.contentItem__img {
  margin: 0 auto;
}

.contentItem__figure {
  margin-bottom: 10px;
  min-height: 130px;
}

.contentItem__title {
  margin-bottom: 10px;
  text-align: center;
}

.contentItem__title a {
  color: #0093ca;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
}

.contentItem__text {
  color: #494949;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 5px;
  margin-top: auto;
  text-align: center;
}

.contentItem__price {
  margin-bottom: 5px;
  text-align: center;
}

.contentItem__price_new {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  margin-top: auto;
}

.contentItem__price_new span {
  color: #393939;
  font-size: 12px;
  font-weight: 400;
}

.contentItem__price_old {
  color: #aaa;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  display: inline-block;
}

.contentItem__price_old::before {
  content: '';
  height: 2px;
  width: 40px;
  display: block;
  background-color: #ff0000;
  -webkit-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
  transform: rotate(-12deg);
  position: absolute;
  left: 41px;
  top: 6px;
}

.contentItem__value {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contentItem__input {
  border: 1px solid #c9c9c9;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  color: #1f1f1f;
  font-size: 13px;
  font-weight: 400;
  outline: 0;
  padding: 7px 0 7px 9px;
  text-align: center;
  width: 62px;
}

.contentItem__input::-webkit-input-placeholder {
  color: #1f1f1f;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.contentItem__input:-moz-placeholder {
  color: #1f1f1f;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.contentItem__input::-moz-placeholder {
  color: #1f1f1f;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.contentItem__input:-ms-input-placeholder {
  color: #1f1f1f;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.contentItem__input::-moz-placeholder {
  opacity: 1;
}

.contentItem__buttonsWrapper {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contentItem__button {
  background: none;
  border: none;
  color: #798690;
  font-family: "JazzBall", "Arial", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 14px;
}

.contentItem__button_minus {
  font-size: 30px;
}

.contentItem__cart {
  background-color: #f73d3c;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  height: 40px;
  text-align: center;
  width: 40px;
}

.contentItem__cart i {
  line-height: 40px;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  vertical-align: middle;
}

/*----- BOTTOM NAV -----*/

.bottomNav {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #eef8ff;
  border: 2px solid #e5f0fb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 13px 22px 15px 15px;
}

.bottomNav__button {
  background: none;
  border: none;
  border-bottom: 1px solid #60666a;
  color: #60666a;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  position: relative;
}

.bottomNav__button::before,
.bottomNav__button::after {
  position: absolute;
  top: 3px;
}

.bottomNav__button_prev {
  margin-left: 10px;
}

.bottomNav__button_prev::before {
  content: '<';
  left: -13px;
  padding-right: 5px;
}

.bottomNav__button_next {
  margin-right: 10px;
}

.bottomNav__button_next::after {
  content: '>';
  padding-left: 5px;
  right: -13px;
}

.bottomNavList {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bottomNavList__item:not(:last-child) {
  padding-right: 15px;
}

.bottomNavList__item_active a {
  font-weight: 700;
}

.bottomNavList__link {
  color: #60666a;
  font-size: 14px;
  height: 14px;
  line-height: 18px;
  text-decoration: underline;
}

@media (max-width: 991px) {
  .wrapper {
    padding: 0 12px;
  }
}

@media (max-width: 800px) {
  .filtresForm__fieldset_checkbox label {
    margin-right: 10px;
  }
}

@media (max-width: 600px) {
  .filtresForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .filtresForm__fieldset {
    margin-bottom: 20px;
  }

  .filtresForm__fieldset_checkbox {
    padding-left: 0;
  }
}

@media (max-width: 425px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .contentItem {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .bottomNavList {
    display: none;
  }

  .filtresForm__label,
  .filtresForm label {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .navList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .navList__item:not(:last-child)::after {
    display: none;
  }
}